@font-face {
  font-family: iranSans;
  src: url("  ../../assets/fonts/IRANSansXFaNum-Regular.woff");
}
@font-face {
  font-family: yekan;
  src: url("../../assets/fonts/10\ Yekan.ttf");
}

.container {
  width: 37.5rem;
  margin: 0 auto;
  max-width: 100%;
  font-family: iranSans;
  background-color: #82bbca;
  background-image: url("../../assets/img/pattern-body.76e29d6.png");
  height: 100vh;
}
