@font-face {
  font-family: iranSans;
  src: url("./fonts/IRANSansXFaNum-Regular.woff");
}
@font-face {
  font-family: quranFont;
  src: url("./fonts/me-quran.woff");
}

ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

.container {
  width: 37.5rem;
  margin: 0 auto;
  max-width: 100%;
  font-family: iranSans;
  background-color: #82bbca;
  background-image: url("./img/pattern-body.76e29d6.png");
  height: 100vh;
}
.top__header-wrappper {
  padding: 0.5rem;
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header__gradient {
  background: linear-gradient(
      90deg,
      transparent 11%,
      transparent 2%,
      #82bbca 55%
    ),
    url("./img/main-header-pattern.0da8e05.png");
  background-size: cover;
  color: #fff;
  border: 3px solid rgb(219, 219, 23);
  border-radius: 2rem;
}

.top-header-desc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gear__wrapper {
  margin: 0.5rem 1rem 0rem 1rem;
}

.back__img {
  width: 1.7rem;
  height: 1.7rem;
  margin: 0.3rem 0.7rem 0 1rem;
}
.search-wrapper {
  background-color: #faf9f6;
  background-image: url("./img/nasim-rezvan-bg-pattern.18658f7.png");
}

nav {
  box-shadow: 2px 4px 36px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 4px 36px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 36px -3px rgba(0, 0, 0, 0.75);
  padding: 0.3rem 0;
  background-color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  max-width: 37.5rem;
  z-index: 100;
}
nav ul {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.home-nav {
  border-radius: 100%;
  padding: 0.5rem;
  background-color: #fff;
  position: absolute;
  bottom: 0;
}
.haram-img {
  width: 3rem;
}
.search-wrapper {
  padding: 3rem;
}
.search__input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 50;
  top: 3rem;

  width: 15rem;
  margin: 0 auto;
}
.search__input {
  width: 100%;
  padding: 0.5rem 0.5rem;
  border: 0.125rem solid #bdbdbd;
  border-right: none;
  border-left: none;
  text-align: right;
}
.search__input:focus {
  outline: none;
  border-color: rgb(202, 202, 42);
}

.search__input-right {
  position: absolute;
  right: -20px;
  width: 2rem;
  height: 2.4rem;
}
.search__input-left {
  position: absolute;
  left: -20px;
  width: 2rem;
  height: 2.4rem;
}
.search__result-wrapper {
  margin-top: 1.5rem;
}

.search__result-title {
  text-align: center;
  margin: 1.5rem;
}

.search__result-list {
  text-align: right;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border: 1px dashed rgb(224, 224, 224);
  padding: 2rem 0.5rem 1rem 0.5rem;
  border-radius: 1rem;
}
.search__result {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.search__result-list-badge {
  position: relative;
  text-align: center;
  background-color: #d6bb8b;
  color: #705a34;
  border-radius: 3rem;
  padding: 0.5rem;
  width: 12rem;
  margin: 0 auto;
}
.search__result-icon {
  cursor: pointer;
}

.quran__text {
  font-family: quranFont;
}
